txazo-open-source/txazo-monitor/src/main/resources/META-INF/spring-monitor.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xsd:schema xmlns="http://www.txazo.com/schema/spring/spring-monitor"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.txazo.com/schema/spring/spring-monitor"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>

    <xsd:element name="jdbcs">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="jdbc" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="jdbc">
        <xsd:complexType>
            <xsd:attribute name="class" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>


</xsd:schema>
